<!doctype html>
<html>
<head>
	<link href="../static/lib/mathquill.css" rel="stylesheet">
	<link href="../static/lib/matheditor.css" rel="stylesheet">
</head>
<body style="background:#F6F4F4;overflow:hidden">
	<center>
	<title>Defi5k</title>
	<h1> Le défi 5 000</h1>
	</center>
	<left>
	<h3>Aide Erudite AI à collecter 5 000 photos de problèmes mathématiques pour améliorer son algorithme de reconnaissance d'image! 
	<br><br>&emsp;1. Prends une photo d'un problème de maths (trouvé en ligne, dans un manuel...):
	<br>&emsp;Du texte, des équations, de l'algèbre,...
	<br>&emsp;PAS de géométrie, PAS d'écriture à la main
	<br><br>&emsp;2. Téléverse ta photo ici

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<form id="pictureForm" method="post" enctype="multipart/form-data" runat="server" onsubmit="sendLabel()">
  	<input type="file" id="file" name="file"/>
  	<img id="blah" src="#" alt="aperçu" style='height:100%; width: 100%; max-height: 150px; object-fit: contain'/>

	<input type='hidden' name='labelField' id='labelField' name='id' value='' />
	<br><br>&emsp;3. Fais la transcription écrite de la photo ci-dessous et clique sur Envoyer
	<br>&emsp;Tu peux participer plusieurs fois! </h3>
	<div id="answer"></div>
	<input type=submit value=Envoyer style="height:80px; width:100px">
	</form>
	</left>
{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<h3>{{ message }}</h3>
		{% endfor %}
	{% endif %}
{% endwith %}


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../static/lib/mathquill.min.js"></script>
<script src="../static/lib/matheditor.js"></script>
<script type="text/javascript">
  var me = new MathEditor('answer');

  me.default_toolbar_tabs = ["General","Symbols"];
  me.removeButtons(['angle','parallel_to','perpendicular','triangle','parallelogram'])

  function sendLabel() {
  	document.getElementById('labelField').value=me.getLatex()}

</script>

<script type ="text/javascript">
	function readURL(input) {
	    if (input.files && input.files[0]) {
	        var reader = new FileReader();
	        
	        reader.onload = function (e) {
	            $('#blah').attr('src', e.target.result);
	        }
	        
	        reader.readAsDataURL(input.files[0]);
	    }
	}

	$("#file").change(function(){
	    readURL(this);
	});
</script>

</html>